extends layout

block content
  div.container(style={'margin-top': '40px'})
    h1.text-center #{title}
    hr

    div(style={'margin-top': '40px'})
      div.content.form-group
        label Enter Game ID:
        input.form-control.form-control-lg(style={'margin-bottom': '10px'}, placeholder="GAME ID", required)
        button.btn.btn-primary.btn-lg(type='submit', style={width:'100%'}) Join

    hr
    h3.text-center OR
    hr

    div.content
      button.btn.btn-warning.btn-lg(type='submit', style={width:'100%'}) Create New Game
  p Welcome to #{title}
